*

!*/

!plugins/workerslab/*
!plugins/workerslab/**/*
plugins/workerslab/workerslab.log

!themes/workerslab/*
!themes/workerslab/**/*
themes/workerslab/build/bower_components
themes/workerslab/build/node_modules

!.gitignore

upgrade
uploads
